:root{
    --smruthi-primary: rgb(144, 100, 170);
    --smruthi-secondary: rgb(224, 221, 238);
    --smruthi-secondary-1: rgba(205, 193, 222,1);
    --smruthi-secondary-2: rgba(205, 193, 222, 0.8);
    --smruthi-secondary-3: rgba(205, 193, 222, .6);
    --smruthi-secondary-4: rgba(205, 193, 222, .4);
    --smruthi-black: rgba(38, 38, 38, 1);
    --smruthi-grey: rgba(138, 138, 138, 1);
    --smruthi-white: rgba(255, 255, 255, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden !important;
    max-width: 540px; /* Set the maximum width to match a mobile device */
    margin: 0 auto; /* Center the content horizontally */
    padding-bottom: 60px; 
}

.btn:focus {
    outline: var(--smruthi-primary) !important;
    box-shadow: var(--smruthi-primary) !important;
}

img{
    user-select: none !important;
    pointer-events:none !important;
}
#app img {
    max-height: 40vh;
}

.btn-smruthi{
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    background-color: var(--smruthi-secondary-4);
    color: var(--smruthi-primary);
    border: 2px solid var(--smruthi-primary);
}

.btn-smruthi:hover,
.btn-smruthi:active,
.btn-smruthi:focus {
    background-color: var(--smruthi-primary);
    border: 2px solid var(--smruthi-primary);
    color: var(--smruthi-white);
}

/*
Backround Colors
*/


.bg-smruthi{
    background-color: var(--smruthi-primary);
}

.bg-smruthi-secondary{
    background-color: var(--smruthi-secondary);
}

.bg-smruthi-1{
    background-color: var(--smruthi-secondary-1);
}

.bg-smruthi-2{
    background-color: var(--smruthi-secondary-2);
}

.bg-smruthi-3{
    background-color: var(--smruthi-secondary-3);
}

.bg-smruthi-4{
    background-color: var(--smruthi-secondary-4);
}


/*
Text Colors
*/

.text-smruthi{
    color: var(--smruthi-primary);
}

.text-smruthi-black{
    color: var(--smruthi-black);
}

.text-smruthi-grey{
    color: var(--smruthi-grey);
}

.text-smruthi-white{
    color: var(--smruthi-white);
}

.text-smruthi-1{
    color: var(--smruthi-secondary-1);
}

/*
Links Colors
*/

.link-smruthi{
    color: var(--smruthi-primary);
}

.link-smruthi-black{
    color: var(--smruthi-black);
}

.link-smruthi-grey{
    color: var(--smruthi-grey);
}

.link-smruthi-white{
    color: var(--smruthi-white);
}

.link-smruthi-1{
    color: var(--smruthi-secondary-1);
}

.link-smruthi:hover,
.link-smruthi:active,
.link-smruthi:focus{
    opacity: .8;
    color: var(--smruthi-primary);
}
.link-smruthi-grey:hover,
.link-smruthi-grey:focus,
.link-smruthi-grey:active{
    opacity: .8;
    color: var(--smruthi-grey);
}
.link-smruthi-white:hover,
.link-smruthi-white:active,
.link-smruthi-white:focus{
    opacity: .8;
    color: var(--smruthi-white);
}
.link-smruthi-black:hover,
.link-smruthi-black:active,
.link-smruthi-black:focus{  
    opacity: .8;
    color: var(--smruthi-black);
}

/*
Alerts
*/
.alert-smruthi {
    color: var(--smruthi-white);
    background-color: var(--smruthi-primary);
    border-color: var(--smruthi-primary);
}

.alert-smruthi-secondary {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary);
    border-color: var(--smruthi-secondary);
}


.alert-smruthi-1 {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary-1);
    border-color: var(--smruthi-secondary-1);
}

.alert-smruthi-2 {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary-2);
    border-color: var(--smruthi-secondary-2);
}
.alert-smruthi-3 {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary-3);
    border-color: var(--smruthi-secondary-3);
}
.alert-smruthi-4 {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary-4);
    border-color: var(--smruthi-secondary-4);
}
/*
Border Colors
*/

.border-smruthi{
    color: var(--smruthi-primary);
}

.border-smruthi-1{
    color: var(--smruthi-secondary-1);
}

.border-smruthi-2{
    color: var(--smruthi-secondary-2);
}

.border-smruthi-3{
    color: var(--smruthi-secondary-3);
}

.border-smruthi-4{
    color: var(--smruthi-secondary-4);
}


.navbar *{
    user-select: none !important;
}


.navbar-brand img{
    max-height: 100px;
}

.sloka{
    white-space: pre-wrap;
}
.meaning{
    margin-top: 10px;
    line-height: 1;
}
.fs-7{
    font-size: .875rem;
}
.fs-8{
    font-size: .75rem;
}
.rounded{
    border-radius: 20px !important;
}
.banner{
    width: 90vw !important;
}

.namaskaram img{
    max-height: 30vw;
}
.reading img{
    max-width: 120px;
}

.item .title{
    height: auto;
}

.progress{
    height: 6px !important;
}

.navbar-fixed-bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    max-width: 540px;
    background-color: var(--smruthi-white); 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
}
.navbar-fixed-bottom a {
    margin-top: 0;
    text-decoration: none;
    color: var(--smruthi-secondary-1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid transparent;
    padding-top: 10px;
}

.navbar-fixed-bottom a i {
    margin-bottom: 3px;
}
.navbar-fixed-bottom a i img{
    height: 30px !important;
}

.navbar-fixed-bottom a.active {
    color: var(--smruthi-primary); 
    font-weight: 700;
    border-top: 4px solid var(--smruthi-primary);
}
.navbar-fixed-bottom a:hover,
.navbar-fixed-bottom a:focus,
.navbar-fixed-bottom a:active{
    border-top: 4px solid var(--smruthi-secondary-1);
}


#randomVerse .illustration img {
    margin-right: -10px;
    margin-top: -40px;
    min-width: 120px;
    float: right;
}

/* Extra small devices (phones) */
@media (max-width: 440px) {
/* CSS rules for extra small devices */
    .fs-7{
        font-size: .75rem;
    }
    .fs-8{
        font-size: .6rem;
    }
    
}
