:root{
    --smruthi-primary: rgb(144, 100, 170);
    --smruthi-secondary: rgb(224, 221, 238);
    --smruthi-secondary-1: rgba(205, 193, 222,1);
    --smruthi-secondary-2: rgba(205, 193, 222, 0.8);
    --smruthi-secondary-3: rgba(205, 193, 222, .6);
    --smruthi-secondary-4: rgba(205, 193, 222, .4);
    --smruthi-secondary-5: rgba(205, 193, 222, .2);
    --smruthi-secondary-6: rgba(205, 193, 222, .1);
    --smruthi-black: rgba(38, 38, 38, 1);
    --smruthi-grey: rgba(138, 138, 138, 1);
    --smruthi-white: rgba(255, 255, 255, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    user-select: none !important;
    user-zoom: none !important;
}

@font-face {
    font-family: 'Prakrta';
    src: url(../fonts/prakrta.ttf) format("truetype");
}

@font-face {
    font-family: 'Samarkan';
    src: url(../fonts/Samarkan.ttf) format("truetype");
}

.font-smruthi{
    font-family: 'Samarkan' !important;
    font-weight: 900;
    letter-spacing: .8px;
    font-size: 32px;
}


body{
    overflow-x: hidden !important;
    max-width: 540px; /* Set the maximum width to match a mobile device */
    margin: 0 auto; /* Center the content horizontally */
    padding-bottom: 60px; 
}

.btn-close:focus,
.btn-close:active {
    outline: none !important;
    box-shadow: 0 0 0 0.25rem var(--smruthi-secondary-4) !important;
    border-radius: 50%;
}

.accordion-button:focus,
.accordion-button:active {
    outline: none !important;
    box-shadow: 0 0 0 0.25rem var(--smruthi-secondary-4) !important;
    z-index: 0 !important;
}

.accordion-button {
    background-color: var(--smruthi-secondary-4);
    color: var(--smruthi-primary);
}


.accordion-button:hover {
    z-index: 0 !important;
}

.accordion-button:not(.collapsed) {
    background-color: var(--smruthi-secondary-2);
    color: var(--smruthi-primary);
}

img{
    user-select: none !important;
    pointer-events:none !important;
}
#app img {
    max-height: 40vh;
}

.btn-smruthi-plain{
    transition: 0.5s;
    background-color: var(--smruthi-primary);
    color: var(--smruthi-white);
    border: 2px solid var(--smruthi-primary);
}

.btn-smruthi-plain:hover,
.btn-smruthi-plain:active,
.btn-smruthi-plain:focus {
    background-color: var(--smruthi-primary) !important;
    color: var(--smruthi-secondary) !important;
    border: 2px solid var(--smruthi-primary) !important;
}

.btn-smruthi{
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    background-color: var(--smruthi-primary);
    color: var(--smruthi-white);
    border: 2px solid var(--smruthi-primary);
}

.btn-smruthi:hover,
.btn-smruthi:active,
.btn-smruthi:focus {
    background-color: var(--smruthi-secondary-6);
    border: 2px solid var(--smruthi-primary);
    color: var(--smruthi-primary);
}

.btn-smruthi-outline{
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: var(--smruthi-primary);
    border: 2px solid var(--smruthi-primary);
    border-color: var(--smruthi-primary);
}

.btn-smruthi-outline:hover,
.btn-smruthi-outline:active,
.btn-smruthi-outline:focus {
    background-color: var(--smruthi-primary);
    border: 2px solid var(--smruthi-primary);
    color: var(--smruthi-white);
}

.btn-outline-smruthi{
    color: var(--smruthi-primary);
    border-color: var(--smruthi-primary);
}


.btn-outline-smruthi:hover,
.btn-outline-smruthi:active,
.btn-outline-smruthi:focus {
    background-color: var(--smruthi-primary);
    border: 2px solid var(--smruthi-primary);
    color: var(--smruthi-white);
}


/*
Backround Colors
*/


.bg-smruthi{
    background-color: var(--smruthi-primary);
}

.bg-smruthi-secondary{
    background-color: var(--smruthi-secondary);
}

.bg-smruthi-1{
    background-color: var(--smruthi-secondary-1);
}

.bg-smruthi-2{
    background-color: var(--smruthi-secondary-2);
}

.bg-smruthi-3{
    background-color: var(--smruthi-secondary-3);
}

.bg-smruthi-4{
    background-color: var(--smruthi-secondary-4);
}


/*
Text Colors
*/

.text-smruthi{
    color: var(--smruthi-primary);
}

.text-smruthi-black{
    color: var(--smruthi-black);
}

.text-smruthi-grey{
    color: var(--smruthi-grey);
}

.text-smruthi-white{
    color: var(--smruthi-white);
}

.text-smruthi-1{
    color: var(--smruthi-secondary-1);
}

/*
Links Colors
*/

.link-smruthi{
    color: var(--smruthi-primary);
}

.link-smruthi-black{
    color: var(--smruthi-black);
}

.link-smruthi-grey{
    color: var(--smruthi-grey);
}

.link-smruthi-white{
    color: var(--smruthi-white);
}

.link-smruthi-1{
    color: var(--smruthi-secondary-1);
}

.link-smruthi:hover,
.link-smruthi:active,
.link-smruthi:focus{
    opacity: .8;
    color: var(--smruthi-primary);
}
.link-smruthi-grey:hover,
.link-smruthi-grey:focus,
.link-smruthi-grey:active{
    opacity: .8;
    color: var(--smruthi-grey);
}
.link-smruthi-white:hover,
.link-smruthi-white:active,
.link-smruthi-white:focus{
    opacity: .8;
    color: var(--smruthi-white);
}
.link-smruthi-black:hover,
.link-smruthi-black:active,
.link-smruthi-black:focus{  
    opacity: .8;
    color: var(--smruthi-black);
}

/*
Alerts
*/
.alert-smruthi {
    color: var(--smruthi-white);
    background-color: var(--smruthi-primary);
    border-color: var(--smruthi-primary);
}

.alert-smruthi-secondary {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary);
    border-color: var(--smruthi-secondary);
}


.alert-smruthi-1 {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary-1);
    border-color: var(--smruthi-secondary-1);
}

.alert-smruthi-2 {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary-2);
    border-color: var(--smruthi-secondary-2);
}
.alert-smruthi-3 {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary-3);
    border-color: var(--smruthi-secondary-3);
}
.alert-smruthi-4 {
    color: var(--smruthi-black);
    background-color: var(--smruthi-secondary-4);
    border-color: var(--smruthi-secondary-4);
}
/*
Border Colors
*/

.border-smruthi{
    border-color: var(--smruthi-primary);
}

.border-smruthi-1{
    border-color: var(--smruthi-secondary-1);
}

.border-smruthi-2{
    border-color: var(--smruthi-secondary-2);
}

.border-smruthi-3{
    border-color: var(--smruthi-secondary-3);
}

.border-smruthi-4{
    border-color: var(--smruthi-secondary-4);
}

.form-select:focus,
.form-select:active{
    outline: none !important;
    box-shadow: 0 0 0 0.25rem var(--smruthi-secondary-4) !important;
    border-color: var(--smruthi-primary) !important;
}

.hideOnScroll{
    transition: .4s ease-in-out;
}
.navbar *{
    user-select: none !important;
}


.navbar-brand img{
    max-height: 100px;
}

.sloka{
    white-space: pre-wrap;
}
.meaning{
    margin-top: 10px;
    line-height: 1.1;
}
.fs-7{
    font-size: .975rem;
}
.fs-8{
    font-size: .75rem;
}
.rounded{
    border-radius: 20px !important;
}
.banner{
    width: 90vw !important;
}

.namaskaram img{
    max-height: 30vw;
}
.reading img{
    max-width: 120px;
}

.item .title{
    height: auto;
}

.progress{
    height: 6px !important;
}

.fixed-top{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 2 !important;
    max-width: 540px;
    background-color: var(--smruthi-white); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
}
.navbar-fixed-bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2 !important;
    max-width: 540px;
    background-color: var(--smruthi-white); 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
}
.navbar-fixed-bottom a {
    margin-top: 0;
    text-decoration: none;
    color: var(--smruthi-secondary-1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 4px solid transparent;
    padding-top: 10px;
    transition: .2s ease-in-out;
}

.navbar-fixed-bottom a i {
    margin-bottom: 3px;
}
.navbar-fixed-bottom a i img{
    height: 30px !important;
}

.navbar-fixed-bottom a.active {
    color: var(--smruthi-primary); 
    font-weight: 700;
    border-top: 4px solid var(--smruthi-primary);
    margin-top: -4px;
}
.navbar-fixed-bottom a:hover,
.navbar-fixed-bottom a:focus,
.navbar-fixed-bottom a:active{
    border-top: 4px solid var(--smruthi-secondary-1);
    margin-top: -4px;
    opacity: 0.8;
}


#randomSloka .illustration img {
    margin-right: -10px;
    margin-top: -80px;
    min-width: 130px;
    float: right;
}

#read .owl-carousel .card{
        height: 200px !important;
    }
#read .card .illustration img{
        max-height: 100px;
    }


#seekbar {
    width: 100%;
    height: 3px;
    border:none;
    border-radius: 50px;
}

.player{
    padding-top: -20px;
}

/* Base styles for the seek bar */
input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  width: 200px; /* Adjust the width as needed */
  height: 5px; /* Adjust the height as needed */
  background: #ddd; /* Use transparent background */
  outline: none; /* Remove outline */
  transition: background-color .2s;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, var(--smruthi-primary) 0%, var(--smruthi-primary) var(--value), #ddd var(--value), #ddd 100%);
  border-radius: 50px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, var(--smruthi-primary) 0%, var(--smruthi-primary) var(--value), #ddd var(--value), #ddd 100%);
  border-radius: 50px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, var(--smruthi-primary) 0%, var(--smruthi-primary) var(--value), #ddd var(--value), #ddd 100%);
  border-color: linear-gradient(to right, var(--smruthi-primary) 0%, var(--smruthi-primary) var(--value), #ddd var(--value), #ddd 100%);
  color: transparent;
}

/* Handle */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: var(--smruthi-primary); /* Handle color */
  cursor: pointer;
  margin-top: -5px; /* Adjust to align handle with track */
  border: none;
  transition: background-color .2s;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--smruthi-primary); /* Handle color */
  cursor: pointer;
  border: none;
}

input[type="range"]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--smruthi-primary); /* Handle color */
  cursor: pointer;
  border: none;
}

/* For IE */
input[type="range"]::-ms-fill-lower {
  background: var(--smruthi-primary); /* Filled portion */
}

input[type="range"]::-ms-fill-upper {
  background: #ddd; /* Unfilled portion */
}



.list-group-item{
    transition: .4s;
}
.list-group-item:hover {
    background-color: var(--smruthi-secondary-5);
}

.offcanvas{
    max-width: 540px;
    border-radius: 40px;
    height: fit-content !important;
    padding-bottom: 80px;
}
         
.icon {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design img{
    width: 240px !important; 
}

.d2 img{
    rotate: 180deg;
}

.toolbar{
    position: fixed;
    right: 0;
    bottom:8vh;
    left: 0;
    z-index: 0 !important;
    max-width: 540px;
    background-color: var(--smruthi-white); 
    padding-top: 0;
}

a[disabled]{
    pointer-events: none;
    filter: grayscale();
}

#play{
    font-size: 54px;
}

#settings img,
#navigate img{
    height: 24px !important;
    width: 24px !important;
}

#next img,
#prev img{
    height: 20px !important;
    width: 20px !important;
}


#navigateModal select {
    border-radius: 9px;
    padding: 3px;
}


/* small devices (phones) */
@media (max-width: 440px) {
/* CSS rules for small devices */
    .fs-7{
        font-size: .75rem;
    }
    .fs-8{
        font-size: .6rem;
    }
    #randomSloka .illustration img {
        min-width: 120px;
        margin-top: -40px;
    }
    
    #randomSloka .details{
        max-width: 220px;
    }
    .reading img {
        max-width: 90px;     
    }
    .text .fs-5{
        font-size: 1rem !important;
    }
}

